<div class="bootstrap-wrapper">

    <div class="row mtt">
        <div class="col-md-6 offset-md-3 text-center ">

    <h1 class="colo">Home</h1>
    <br/>
    <p class="colo">This is a  Anglar web app </p>
    <p class="colo"> make up with the help of</p>
    <p class="colo">Spring Boot Rest api , Mysql , </p>
    <p class="colo">Spring Security , weather </p>
    <p class="colo">and Covid public api</p>
    <p class="colo">to Displaying the number of </p>
    <p class="colo">covid cases and weather </p>
    <p class="colo">report of the world.</p>
  
</div>
</div>

</div>