<mat-card>
    
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">

                <div class="container text-center">
                    <img src="https://t4.ftcdn.net/jpg/02/30/31/15/360_F_230311582_UvB0ZYoJNKW0NJwxnPKZ2FtvXJWAZJ8t.jpg"
                    alt=""
                    class="profile-img"
                    />
                   
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-1 text-center">
                        <p><a href='https://www.instagram.com/alekhroy007/' target="_blank">Instagram</a></p>
                        <p><a href="mailto: alekh5007@gmail.com">Email</a></p>
                        <p><a href='https://twitter.com/Alekhroy1' target="_blank">Twitter</a></p>
                     
                    </div>
                    <div class="col-md-4 offset-md-1 text-center">
                        <p><a href='https://github.com/alekh5007' target="_blank">Github</a></p>
                        <p><a href='https://www.linkedin.com/in/alekh-kumar-3a895175/' target="_blank">Linkdin</a></p>
                        <p><a href='https://api.whatsapp.com/send?phone=917001101529' target="_blank">Whatsapp</a></p>
                     
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
  
</mat-card>

<span class="text-center">Copyright © 2022 All rights reserved.</span>